.bannerImage {
  width: 1000px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 0;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  margin: 0 0 0 60%;
  padding: 0;
}

.list-container {
  background-color: #d1eded;
  margin: 2% 10% 10% 10%;
  padding: 0 0 20% 0;
}

ul {
  list-style-type: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item {
  display: flex;
}

#addButton {
  margin: 0;
  padding: 0px;
}

#input {
  margin: 0 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
