.list-container {
  background-color: #d1eded;
  margin: 2% 10% 10% 10%;
  padding: 0 0 20% 0;
}

ul {
  list-style-type: none;
}

#addButton {
  margin: 0;
  padding: 0px;
}

.input {
  margin: 0 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-block;
}

#buttonClick {
  padding: 1%;
  margin: 0 0 0 1%;
  cursor: pointer;
}
