.bannerImage {
  width: 1000px;
  height: 200px;
  object-fit: cover;
  padding: 0;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  margin: 0 0 0 40%;
  padding: 0;
}

.list-container {
  background-color: rgb(209, 237, 237);
  width: 1450px;
  height: 700px;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
}
#addButton {
  margin: 2.5% 0 0 0;
  padding: 0;
}
.input {
  margin: 0 0 0 40%;
  display: flex;
}
